$background: #31343d !important;
$primary: #726dfe !important;
$primary-light: lighten(#726dfe, 10%) !important;
$text: #ffffff !important;
$fontFamily: Satoshi !important;
$date-text: hsla(0, 0%, 100%, 0.568) !important;
